################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/Pointer/001_VIrtualAddressSpaceLayout/Debug
/Pointer/Debug
/Pointer/001_VIrtualAddressSpaceLayout/Release
/Pointer/Release
/Pointer/002_DataAndDataType/Debug
/Pointer/.vs/Pointer/v16/ipch/AutoPCH/ede0c87c0eac6074
/Pointer/.vs/Pointer/v16/.suo
/Pointer/.vs/Pointer/v16/Solution.VC.db
/Pointer/.vs/Pointer/v16/Solution.VC.db-shm
/Pointer/.vs/Pointer/v16/Solution.VC.db-wal
/Pointer/.vs/Pointer/v16/Browse.VC.opendb
/Pointer/.vs/Pointer/v16/Browse.VC.db
/.vs/C.Programming/v16
/.vs
/Pointer/.vs/Pointer/v16/ipch/AutoPCH/8cef6557ca00018d/MAIN.ipch
/Pointer/003_ForVariables/Debug
/Pointer/.vs/Pointer/v16/ipch/AutoPCH/7e5ed72b21a3f4f1
/Pointer/001_VIrtualAddressSpaceLayout/x64/Debug
/Pointer/002_DataAndDataType/x64/Debug
/Pointer/003_ForVariables/x64/Debug
/Pointer/x64/Debug
/Pointer/.vs/Pointer/v16/ipch/AutoPCH/7082945bc4b04ff1
/Pointer/.vs/Pointer/v16/ipch/AutoPCH/9c3d7697c5bae7fa
/Pointer/.vs/Pointer/v16/ipch/AutoPCH/b9b9f2a023eb26ea/MAIN.ipch
/Pointer/.vs/Pointer/v16/ipch/AutoPCH
/Pointer/004_PointerVariable/Debug
/Pointer/004_PointerVariable/x64/Debug
/Pointer/HelloWorld/Debug
/Pointer/005_DataAccessUsingPointer/Debug
/Pointer/.vs/Pointer/v16/ipch
/Pointer/001_VIrtualAddressSpaceLayout/x64/Release
/Pointer/002_DataAndDataType/Release
/Pointer/002_DataAndDataType/x64/Release
/Pointer/003_ForVariables/Release
/Pointer/003_ForVariables/x64/Release
/Pointer/004_PointerVariable/Release
/Pointer/004_PointerVariable/x64/Release
/Pointer/005_DataAccessUsingPointer/Release
/Pointer/005_DataAccessUsingPointer/x64
/Pointer/HelloWorld/Release
/Pointer/HelloWorld/x64/Debug
/Pointer/HelloWorld/x64/Release
/Pointer/trace/Debug
/Pointer/trace/Release
/Pointer/x64/Release
/Pointer/006_StructAndPointer/Debug
/Pointer/007_PointerTypeCast/Debug
