################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.exe
*.ilk
*.pdb
/Pointer/echo/Debug/01_Virtu.6A9CB557.tlog
/Pointer/echo/Debug/main.obj
/Pointer/echo/Debug
/Pointer/HelloWorld/Debug/HelloWorld.tlog
/Pointer/HelloWorld/Debug
*.opendb
/Pointer/.vs/Pointer/v16/ipch/AutoPCH/ec2fe1eb134c7c22
